.container {
  max-width: 960px;  
}
/* Estilos para o formulário */
form {
  margin-top: 30px;
  width: 700px;
}
.form-label {
  font-weight: bold;
}
.form-control {
  margin-bottom: 20px;
}
.btn-primary {
  margin-top: 20px;
}
/* Estilizando o campo do CEP */
#cep {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
/* Estilizando os campos de pagamento */
.form-check {
  margin-bottom: 15px;
}
/* Estilizando o rodapé */
footer {
  margin-top: 50px;
  background-color: #007ffd;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}